﻿@model InheritVideoUploadWebApp.Models.FileUploadModel

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("UploadFiles", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.file, htmlAttributes: new { @class = "control-label col-md-2" })
        @*<div class="col-md-10">
                @Html.EditorFor(model => model.file, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                @Html.ValidationMessageFor(model => model.file, "", new { @class = "text-danger" })
            </div>*@
    </div>
    <input type="file" name="file" id="sel-file" />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="upload-files" value="Upload" class="btn btn-primary" />
        </div>
    </div>

    <center>
        <div id="val"></div>
    </center>
    <div id="myProgress">

        <div id="myBar"></div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 text-success">
            @ViewBag.FileStatus
        </div>
    </div>
</div>
}
<style>
    #myProgress {
        width: 100%;
        background-color: grey;
    }

    #myBar {
        width: 1%;
        height: 30px;
        background-color: green;
    }
</style>
<script type="text/javascript">
    jQuery(document).ready(function () {
        var elem = document.getElementById("myBar");  
        $('#upload-files').on('click', function () {
            var file = $('#sel-file').get(0).files[0],
                formData = new FormData();
            file.name = guid() + "." + "mp4";
            formData.append('file', file);
            console.log(file);
            $.ajax({
                url: 'http://localhost:12214/api/Files/Upload',
                type: 'POST',
                contentType: false,
                cache: false,
                processData: false,
                data: formData,
                xhr: function () {
                    var jqXHR = null;
                    if (window.ActiveXObject) {
                        jqXHR = new window.ActiveXObject("Microsoft.XMLHTTP");
                    }
                    else {
                        jqXHR = new window.XMLHttpRequest();
                    }
                    //Upload progress
                    jqXHR.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = Math.round((evt.loaded * 100) / evt.total);
                            //Do something with upload progress
                            $('#val').html(percentComplete + '%');
                            elem.style.width = percentComplete + '%'; 
                            console.log('Uploaded percent', percentComplete);
                        }
                    }, false);
                    //Download progress
                    jqXHR.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = Math.round((evt.loaded * 100) / evt.total);
                            //Do something with download progress
                            $('#val').html(percentComplete + '%');
                            elem.style.width = percentComplete + '%'; 
                            console.log('Downloaded percent', percentComplete);
                        }
                    }, false);
                    return jqXHR;
                },
                success: function (data) {
                    //Do something success-ish
                    console.log('Completed.');
                }
            });
        });
    });
    function guid() {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }
</script>
